@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src:  url('fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/FiraSans-Regular.woff') format('woff'), 
        url('fonts/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src:  url('fonts/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/FiraSans-Light.woff') format('woff'), 
        url('fonts/FiraSans-Light.ttf') format('truetype');
}

html,
body {
  background-color: #563882;
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  margin: 30px auto;
  text-align: center;
  width: 540px;
}

@media (max-width: 600px) {
  html,
  body {
    margin: auto;
    width: 90%;
  }
}

a,
a:hover,
a:focus,
a:visited {
  color: white;
}

button,
button:focus,
select,
select:focus {
  background-color: #6d54a5;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  outline-color: transparent;
}

h1 {
  font-size: 36px;
  font-weight: 300;
}

p {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.logo {
  height: auto;
  width: 200px;
}

.password {
  background-color: #6d54a5;
  border-radius: 10px;
  color: white;
  font-family: monospace;
  font-size: 16px;
  line-height: 36px;
  margin: 20px 0;
  min-height: 36px;
  padding: 20px;
  word-wrap: break-word;
}

.single-word {
  margin: 0 10px 0 0;
}

.single-word:last-child {
  margin: 0;
}